<div class="haiku-filter" data-controller="modal">
  <button type="button" class="btn btn-default" data-action="modal#open">
    絞り込む
  </button>

  <% if params[:theme].present? || params[:author].present? || params[:body].present? %>
    <span class="haiku-filter__active">
      <% if params[:theme].present? %>
        <span class="label label-info">お題: <%= params[:theme] %></span>
      <% end %>
      <% if params[:author].present? %>
        <span class="label label-info">作者: <%= params[:author] %></span>
      <% end %>
      <% if params[:body].present? %>
        <span class="label label-info">句: <%= params[:body] %></span>
      <% end %>
      <%= link_to '解除', haikus_path, class: 'btn btn-xs btn-danger' %>
    </span>
  <% end %>

  <div class="modal fade" data-modal-target="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with url: haikus_path, method: :get, local: true do |f| %>
          <div class="modal-header" style="display: flex; align-items: center;">
            <h4 class="modal-title" style="flex: 1; text-align: center; margin: 0;">俳句を絞り込む</h4>
            <button type="button" class="close" data-action="modal#close" aria-label="閉じる" style="margin: 0; position: static; float: none;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :theme, 'お題' %>
              <%= f.text_field :theme, value: params[:theme], class: 'form-control', placeholder: 'お題を入力' %>
            </div>
            <div class="form-group">
              <%= f.label :author, '作者' %>
              <%= f.text_field :author, value: params[:author], class: 'form-control', placeholder: '作者名を入力' %>
            </div>
            <div class="form-group">
              <%= f.label :body, '句の内容' %>
              <%= f.text_field :body, value: params[:body], class: 'form-control', placeholder: '句に含まれる文字列を入力' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-action="modal#close">キャンセル</button>
            <%= f.submit '絞り込む', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
