<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= turbo_frame_tag 'modal' %>
    <div class="container">
      <%= turbo_frame_tag 'flash' do %>
        <%= render 'shared/flash_messages' %>
      <% end %>
      <%= yield %>
      <% if Rails.env.development? %>
        <div style="margin-top: 3rem; padding: 1rem; clear: both;">
          <%# <%= debug(params) %> %>
        </div>
      <% end %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
      });
    </script>
  </body>
</html>
